@use 'base/variables' as v;
@use 'base/mixins' as m;

.paginacion {
    @include m.tablet {
        display: flex;
        justify-content: space-between;
    }

    .boton {
        margin-bottom: 1rem;
    }
}

.ocultar {
    visibility: hidden; // Oculta, si hay otro elemento, ese elemento no ocupa la posición
}