// Fuentes
$fuente: 'Poppins', sans-serif;

// Colores

$azul: #0da6f3;
$rojo: #cb0000;
$verde:#329f00;
$negro: #1a1b15;
$blanco: #FFFFFF;
$gris: #e1e1e1;

// Media Queries

$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;